body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03001C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin: 20px auto;
  width:240px;
  height: 100px;
  padding: 2%;
  background: rgb(223, 201, 201);
  border-bottom: 2px solid#D82148;
  border-right: 2px solid #D82148;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 6px;
  transition-duration: 1s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
 }
 
 .card:hover {
  border-top: 2px solid #D82148;
  border-left: 2px solid #D82148;
  border-bottom: 2px solid #D82148;
  border-right: 2px solid #D82148;
  box-shadow: rgba(216,33,72,0.4) 5px 5px, rgba(216,33,72, 0.3) 10px 10px, rgba(216,33,72, 0.2) 15px 15px, rgba(216,33,72, 0.1) 20px 20px, rgba(216,33,72, 0.05) 25px 25px;
 }
 
 .card__content {
  font-size: small;
  text-align: center;
  margin: 0 auto;
 }
 
 .card__content-heading {
  color: #D82148;
  margin: -10px auto;
 }
 
 .card__content-body p {
  color: rgb(78, 77, 77);
  padding-bottom: 1rem;
  margin: 0 auto;
 }
 
 .card__content-footer button {
  background-color: rgb(237, 226, 226);
  color: rgb(78, 77, 77);
  font-weight: 700;
  border-radius: .2rem;
  border: 1px solid rgb(78, 77, 77);
  padding: .5rem;
  margin: 0 auto;
  transition-duration: 1s;
  transition-property: background-color, color, border;
 }
 
 .card__content-footer button:hover {
  color: white;
  background-color: rgba(216,33,72,0.8);
  border: 1px solid white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
 }
 
 
 
 
